* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.contact,
.products,
.email-me {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-right: 30vw;
  height: 90vh;
  align-items: center;
  font-size: 3rem;
}
.contact * {
   color: black;
   text-decoration: none;
}
.mailh1 {
  font-size: 120px;
  margin-bottom: 100px;
}
.contact-wrap {
  margin-bottom: 40px;
  width: 450px;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-wrap:hover {
  background-color: rgb(232, 232, 232);
}
.contact-wrap > * {
  display: flex;
  align-items: center;
}
.mailh2 {
  font-size: 50px;
}
.contact-mail {
  margin-bottom: 40px;
}
.contact-para {
  font-size: 30px;
}
.contact-para:hover {
  background-color: white;
}
.contactIcon {
  color: white;
  font-size: 50px;
}

@media(max-width:960px){
  .mailh1 {
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 70px;
}
  .contact-wrap {
    width: 90vw;
  }
  .contact-para {
    font-size: 23px;
  }
  .mailh2 {
  font-size: 30px;
}
}